<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWCFContact_Server"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WCFContact_Server" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWCFContact_Server" contract="WCFContact_Server.IWCFContact_Server" name="BasicHttpBinding_IWCFContact_Server"/>
        </client>
    </system.serviceModel>
</configuration>
